<app-toolbar class="toolbar" [side]="snav" #toolbar2  isMobile="true" ></app-toolbar>
<mat-sidenav-container class="example-container" >
   
  <mat-sidenav #snav [mode]="mode" opened="true" position="start">
      <!-- <mat-toolbar color="primary" style="margin-top:0px;"> 
        PMRApp
        <button slot="end" mat-icon-button (click)="snav.toggle()" >
          <mat-icon>close</mat-icon>
        </button>
        </mat-toolbar> -->
        <mat-list>
          <mat-list-item *ngIf="paciente" >
            <img matListAvatar src="../../../assets/img/background-2.jpg" alt="...">
            <h3 matLine> {{paciente.nombres}} {{paciente.apellidos}} </h3>
            <p matLine>
              <span> {{paciente.cesfam.nombre}} </span>
            </p>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/','principal',item.path]" (click)="snav.toggle()" *ngFor="let item of menu">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>      
        {{ item.title }} 
      </mat-list-item>

      <mat-list-item [routerLink]="['/']" (click)="cerrarSesion()">
        <mat-icon matListIcon>settings_power</mat-icon>
        Cerrar Sesion
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav >
  <mat-sidenav-content>
      <ion-router-outlet></ion-router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>