<ion-content>
  <div *ngIf="!session">
      <div class="wrapper wrapper-full-page">
          <div class="full-page login-page"  data-image="./assets/img/background-2.jpg">
            <div class="content">
              <div class="container">
                <div class="row">
                  <div [class]="col+' col-md-4 col-sm-6 col-sm-offset-3' "  >
                    <form [formGroup]="formRut" (ngSubmit)="onSubmit(inputRut)" class="ng-untouched ng-pristine ng-valid">
                      <div class="card">
                        <div class="header text-center">Bienvenido a PMRApp</div>
                        <div class="content">
                          <div class="form-group">
                            <label>Rut</label>
                            <input #inputRut [textMask]="{mask: mask}" guide="false" name="rut" id="rut" formControlName="rut" class="form-control" placeholder="xx.xxx.xxx-x" type="text" (keyup.enter)="onSubmit(inputRut)" >
                          </div>
                        </div>
                        <div class="footer text-center">
                          <button class="btn btn-fill btn-danger btn-wd" type="submit">Enter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-page-background" style="background-image: url(./assets/img/background-2.jpg) "></div>
          </div>
        </div>
  </div>
  <app-loading *ngIf="proceso"></app-loading>
  <div *ngIf="session && !proceso">
    <div class="wrapper wrapper-full-page">
      <div class="full-page login-page"  data-image="./assets/img/background-2.jpg">
    
        <div class="content">
          <div class="container">
            <div class="row">
              <div [class]="col+' col-md-4 col-sm-6 col-sm-offset-3' "  >
                <form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                  <div class="card">
                    <div *ngIf="paciente" class="header text-center">
                       Bienvenido a  {{  paciente.cesfam.nombre | uppercase }}                       
                    </div>
                    <div class="content">
                      <div class="form-group">
                        <label>Email address</label>
                        <input class="form-control" placeholder="Enter email" type="email"></div>
                      <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" placeholder="Password"
                          type="password">
                      </div>
                    </div>
                    <div class="footer text-center">
                      <button class="btn btn-fill btn-danger btn-wd" routerLink="principal" type="submit">Login</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- <footer class="footer footer-transparent">
          <div class="container">
            <nav class="pull-left">
              <ul>
                <li><a href="#"> Home </a></li>
                <li><a href="#"> Company </a></li>
                <li><a href="#"> Portfolio </a></li>
                <li><a href="#"> Blog </a></li>
              </ul>
            </nav>
            <p class="copyright pull-right"> © 2019 <a href="#">Creative Tim</a>, made with love
              for a better web </p>
          </div>
        </footer> -->
        <div class="full-page-background" style="background-image: url(./assets/img/background-2.jpg) "></div>
      </div>
    </div>
  </div>
</ion-content>