<div class="container">
  <mat-card class="mt-3" *ngFor="let hora of horaSolicitadas">
    <mat-card-header>
      <mat-card-title>{{hora.especialidad.nombre}}</mat-card-title>
    <mat-card-subtitle>{{hora.fechaConsulta}} {{hora.horaConsulta}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Dr. {{ hora.profesional.nombres }} {{ hora.profesional.apellidos }}
    {{ hora.observacion }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="danger" (click)="openDialogCancelar(hora)" >Cancelar</button>
      <button mat-button color="primary" >Editar</button>
    </mat-card-actions>
  </mat-card>
</div>