<ion-content>
  <div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-image="./assets/img/background-2.jpg">
      <div class="content">
        <div class="container">
          <div class="row">
            <div [class]="col+' col-md-4 col-sm-6 col-sm-offset-3' ">
              <div class="card">
                <form #f [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="ng-untouched ng-pristine ng-valid">
                  <div class="header text-center">
                    Solicitar nueva contraseña
                  </div>
                  <div class="content">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input #inputRut name="email" id="email" formControlName="email"
                        class="form-control" placeholder="Ingrese email asociado en el cesfam" type="text"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <button class="btn btn-fill btn-success btn-wd" type="submit">Confirmar</button>
                    <button *ngIf="movil" class="btn btn-fill btn-danger btn-wd" [routerLink]="''" >Cancelar</button>
                  </div>
                  
                </form>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col">

            </div>
          </div>
        </div>
      </div>
      <!-- <footer class="footer footer-transparent">
          <div class="container">
            <nav class="pull-left">
              <ul>
                <li><a href="#"> Home </a></li>
                <li><a href="#"> Company </a></li>
                <li><a href="#"> Portfolio </a></li>
                <li><a href="#"> Blog </a></li>
              </ul>
            </nav>
            <p class="copyright pull-right"> © 2019 <a href="#">Creative Tim</a>, made with love
              for a better web </p>
          </div>
        </footer> -->
      <div class="full-page-background" style="background-image: url(./assets/img/background-2.jpg) "></div>
    </div>
  </div>

</ion-content>
